.open-tez-demo {
  margin-top: 64px;
  opacity: 0;
  visibility: hidden;
  transition-property: opacity visibility;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  transition-delay: 0.8s;

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  .keyboard-buttons-container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    .plus {
      height: 18px;
      margin: 0 12px;
    }
  }
}
