body {
  margin: 0;
  font-family: 'Montserrat';
}

/* TODO: Get rid of the important here. */
input {
  font-family: 'Montserrat' !important;
}

.container {
  position: fixed;
  z-index: 2147483647;
  width: 100vw;
  height: 100vh;
  display: flex;
  visibility: hidden;
  justify-content: center;
  background-color: transparent;
  transition-property: background-color visibility;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);

  &.visible {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.2);

    .popup {
      opacity: 1;
      transform: scale(1);
    }
  }

  .popup {
    margin-top: 128px;
    align-self: flex-start;
    width: 800px;
    max-width: 90vw;
    box-shadow: 20px 36px 36px 0px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    border: 1px solid lightgray;
    background-color: #ffffff;
    padding: 12px;
    opacity: 0;
    overflow: hidden;
    transform: scale(0.95);
    transition-property: opacity, transform;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);

    .results-section-visible {
      border-bottom: 1px solid lightgray;
      padding-bottom: 12px;
    }
  }
}

.unstyled-anchor-tag {
  &:link,
  &:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
  }

  &:focus {
    outline: none;
  }
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* This class shouldn't be here. This is temporary. */
.highlight {
  font-weight: 700;
}

kbd {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.1em 0.5em;
  margin: 0 0.2em;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
  background-color: #f7f7f7;
  /* 😏 nice */
  color: #696969;
}
