.root {
  z-index: 2147483647;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  visibility: hidden;
  /* TODO: Disabling the show and hide transitions as they feel laggy. Need to
  investigate these and turn these back on. */
  /* transition-property: visibility;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67); */

  &.visible {
    visibility: visible;
  }

  iframe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border: none;
  }
}

body.overflow-hidden {
  overflow: hidden !important;
}
